.book .book-summary ul.summary > li:nth-child(2) {
  color: transparent;
  background-image: url(../docs/assets/NBSideBar.png);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 80px;
  background-position: center;
}
.book .book-summary ul.summary > li:nth-child(2) a {
  color: transparent;
}
.book .book-body .page-wrapper .page-inner section.normal a {
  color: #558674;
}
.book .book-summary ul.summary li.active>a {
  color: #558674;
  font-weight: bold;
}
