.book .book-summary ul.summary > li:nth-child(2) {
  color: transparent;
  background-image: url(https://docs.nativebase.io/docs/assets/NBSideBar.png);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 80px;
  background-position: center;
}
.book .book-summary ul.summary > li:nth-child(2) a {
  color: transparent;
}
.book .book-body .page-wrapper .page-inner section.normal a {
  color: #558674;
}
.book .book-summary ul.summary li.active>a {
  color: #558674;
  font-weight: bold;
}
.mobileDevice{
  display:none;
}

@media (max-width: 800px){
  .book-header .btn{
    padding:0px 10px !important
  }
  .mobileDevice{
  display:block !important;
  }
  .with-summary .page-wrapper{
    top:50px;
  }
  .page-wrapper{
    width:100% !important;
  }
  .markdown-section table, table{
    display:block !important;
    overflow:scroll !important;
  }
  .with-summary .book-header{
    width:100%;

  }
  .book-header{
    width:100%;
  }
}
@media (max-width: 600px){
  .page-wrapper{
  }
  
  
}



@media (min-width: 800px){
  .with-summary .book-header{
    width:100%;

  }
  .book-header{
    width:100%;
  }
}

.book-header{
  position: fixed; 
 background: #fff;
 z-index:999;
}
.book-header .fa{
  color:#333;
}
.page-inner {
  padding: 50px 15px 40px 15px !important;
}